

<nav>

  <div class="nav-wrapper">

    <div class="navigation-left">

      <a href="/">
        <div class="logo-holder">
          <img src="/images/logo/frisk-logo.jpg" alt="" />
        </div></a>

      <div class="nav-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" name="nav-search" placeholder="e.g. Grill'D, TGI Fridays, Pizza, Thai" value="<%= params[:search] %>">
      </div>

    </div>

    <div class="navigation-right">

      <div class="support">
        <button type="button" name="support-cta" class="support-cta">SHARE FRISK</button>
      </div>

      <div class="account">
        <div class="account-top">
          <h5>ACCOUNT</h5>
        </div>
        <div class="account-bottom">
          <p>Login</p>
        </div>
      </div>

      <div class="address">

        <div class="address-top">
          <h5>ADDRESS</h5>
        </div>

        <div class="address-bottom">
          <p>Southbank, Vic</p>
          <i class="fa fa-sort-desc" aria-hidden="true"></i>
        </div>

        <div class="address-popup">
          <div class="address-esc">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class="white-arrow">
            <img src="/images/icons/triangle-white.png" alt="" />
          </div>
          <div class="map-holder">
            <div id="map"></div>
          </div>
          <div class="address-change">
            <h5>Update delivery location</h5>
            <div class="address-change-input">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <input type="text" placeholder="Enter delivery address" value="<%= params[:location] %>" id="address-input">
            </div>
            <div class="address-update-btn">
              <p>Update Delivery Location</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</nav>

<div class="page">

  <div class="banner">
    <img src="/images/banners/Screen Shot 2016-09-24 at 6.44.52 PM.png" alt="" />
  </div>

  <div class=" results primary-result"></div>

  <div class="secondary-results"></div>

</div>

<!-- <div class="practice">
  <img id="myImg" src="/images/banners/Screen Shot 2016-09-24 at 6.44.52 PM.png" alt="" />
  <div id="display-color">

  </div>
</div>

<script>

  $(window).ready(function(){
    var sourceImage = $('#myImg')[0];
    var colorThief = new ColorThief();
    var color = colorThief.getColor(sourceImage);
    $('#display-color').css( 'background-color', 'rgb(' + color + ')' )
  });

</script> -->


<script>

  // Results Call
  ajaxCall('<%= params[:search] %>', '<%= params[:location] %>')

  // Address Handlers
  $('.address-top').on('click', function() {

    $('.address-popup').css('display', 'block');
    displayLocationNav('<%= params[:location] %>');

  });

  $('.address-bottom').on('click', function() {

    $('.address-popup').css('display', 'block');
    displayLocationNav('<%= params[:location] %>');

  });

</script>
